.center-container {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 5vh; /* Full viewport height */
}

.large-textbox {
  display: flex;
  width: 300px;
}
